.camera-container {
  width: 85vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}

.camera-container button {
  width: 10%;
  height: 25%;
}

.camera-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
